@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  // gold partener
  .gold-partener {
    @apply flex flex-col lg:flex-row lg:justify-between lg:items-center p-5 md:p-10 gap-10 section m-10 max-sm:pt-14 max-lg:max-w-[90%];

    .gold-btn {
      @apply w-full bg-accent text-white text-[1rem] font-medium rounded-[10px];
      box-shadow: 0 3px 23px rgba(0, 0, 0, 15%);
    }
  }

  // finance
  .finance {
    @apply grid gap-20 lg:grid-cols-2 text-center lg:text-left;

    .header {
      @apply text-secondary text-[1.9375rem] font-bold;
    }

    .col-1 {
      @apply grid gap-5 h-full place-content-center py-20 px-5 max-lg:max-w-[450px] mx-auto;
      text-wrap: balance;

      .content {
        @apply grid gap-3 text-[1.125rem] leading-[1.9375rem] font-medium;
      }
    }

    .col-2 {
      @apply grid gap-5 h-full place-content-center py-40 px-5  text-[#fcfcfc] max-w-[450px] mx-auto;
      text-wrap: balance;

      .content {
        @apply text-[1rem] md:text-[1.5625rem] font-medium;
      }
    }
  }

  // HR
  .hr {
    @apply grid md:grid-cols-2 gap-20 section font-medium pt-20;

    & > * {
      @apply px-5;
    }
    .header {
      @apply text-[1.875rem] lg:text-[3rem] text-secondary font-bold leading-[2.5rem] lg:leading-[3.5rem] text-center mb-6;
    }
    // nr = normal
    .nr-card {
      @apply max-md:max-w-[450px] max-md:mx-auto;
      .header {
        @apply md:text-left;
      }
    }
    .img-card {
      @apply max-md:max-w-[450px] max-md:mx-auto md:px-20;
    }
    .img-card-wrapper {
      @apply md:col-span-2 relative bg-black bg-opacity-70 text-white flex flex-col justify-center items-center py-40 md:py-11;
    }
  }

  // accelerator
  .accelerator {
    @apply section grid md:grid-cols-2 gap-10 lg:gap-40 overflow-hidden pb-10;

    & > * {
      @apply px-5;
    }
    .col-1 {
      @apply relative flex flex-col justify-center py-48 bg-black bg-opacity-70;

      .header {
        @apply text-[1.875rem] lg:text-[4rem] lg:mb-6 text-secondary leading-[3.5rem] font-bold;
      }
    }
  }
}
