@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

h1,
h2,
h3 {
    line-height: normal;
}

.text-start {
    text-align: start !important;
}

.hero {
    background: linear-gradient(90deg, rgba(106, 95, 232, 0.10) 18.84%, #B5AFFF 64.93%, rgba(217, 217, 217, 0.00) 102.42%);
}

.trapezoid-l {
    height: 400px;
    /* border-left: solid 24px green; */
    border-top: solid 24px transparent;
    border-bottom: solid 24px transparent;
}

.trapezoid {
    /* width: 400px; */
    height: 400px;
    background-color: green;
    border-radius: 50px;
}

.trapezoid-r {
    height: 400px;
    /* border-right: solid 24px green; */
    border-top: solid 24px transparent;
    border-bottom: solid 24px transparent;
}

.rounded-trapezoid {
    width: 200px;
    height: 100px;
    transform: skew(20deg);
    /* Adjust the angle of the parallelogram */
    background-color: #3498db;
}